/*
 * Copyright (c) 2022 Pete Johanson
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BAS_L 0
#define NAV_L 1
#define NUM_L 2
#define SYM_L 3

// Using layer taps on thumbs, having quick tap as well helps w/ repeating space/backspace

&lt { quick_tap_ms = <200>; };

/ {
    chosen { zmk,matrix_transform = &ortho_transform; };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        sys {
            bindings = <&mo 2>;
            key-positions = <38 39>;
        };
    };

    macros {
        DaVinci: DaVinci {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_wait_time 3000>,
                <&kp LEFT_ALT &kp LEFT_WIN &kp C>,
                <&macro_wait_time 1000>,
                <&kp LEFT_ALT &kp LEFT_WIN &kp A>,
                <&macro_wait_time 1000>,
                <&kp LEFT_ALT &kp LEFT_SHIFT &kp D>,
                <&macro_wait_time 1000>,
                <&kp LEFT_ALT &kp LEFT_WIN &kp E>,
                <&macro_wait_time 1000>,
                <&kp LEFT_ALT &kp LEFT_WIN &kp M>;

            label = "DAVINCI";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            label = "Base";
            bindings = <
&kp ESC    &kp Q  &kp W         &kp E         &kp R  &kp T                 &kp Y     &kp U     &kp I            &kp O    &kp P     &kp BACKSPACE
&kp TAB    &kp A  &kp S         &kp D         &kp F  &kp G                 &kp H     &kp J     &kp K            &kp L    &kp SEMI  &kp SINGLE_QUOTE
&kp LSHFT  &kp Z  &kp X         &kp C         &kp V  &kp B                 &kp N     &kp M     &kp COMMA        &kp DOT  &kp FSLH  &kp RET
                  &kp LEFT_ALT  &kp LEFT_WIN  &mo 1  &kp SPACE  &kp SPACE  &kp LEFT  &kp DOWN  &kp RIGHT_ARROW
            >;
        };

        nav_layer {
            label = "numeric";
            bindings = <
&kp GRAVE  &kp NUMBER_1  &kp NUMBER_2      &kp NUMBER_3  &kp NUMBER_4  &kp N5          &kp NUMBER_6  &kp N7  &kp N8        &kp N9     &kp N0                &kp DEL
&trans     &trans        &trans            &DaVinci      &trans        &trans          &trans        &trans  &kp MINUS     &kp EQUAL  &kp LEFT_BRACKET      &kp RIGHT_BRACKET
&trans     &trans        &trans            &trans        &trans        &trans          &trans        &trans  &kp UP_ARROW  &trans     &kp NON_US_BACKSLASH  &trans
                         &kp LEFT_CONTROL  &kp LEFT_ALT  &trans        &trans  &trans  &trans        &trans  &trans
            >;
        };

        sys {
            label = "Sym";
            bindings = <
&bt BT_CLR  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &DaVinci      &trans  &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans  &trans          &trans  &trans  &trans  &trans  &trans  &bootloader
                          &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
